USE [master]
GO
/****** Object:  Database [LTWebCoBan]    Script Date: 5/10/2020 11:10:20 AM ******/
CREATE DATABASE [LTWebCoBan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LTWebCoBan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LTWebCoBan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LTWebCoBan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LTWebCoBan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LTWebCoBan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LTWebCoBan]
GO
/****** Object:  Table [dbo].[ChiTietDongHo]    Script Date: 5/10/2020 11:10:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDongHo](
	[chiTietDHid] [int] IDENTITY(1,1) NOT NULL,
	[typeDHid_pk] [int] NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[price] [int] NOT NULL,
	[sale] [float] NULL,
	[urlPicture] [nvarchar](300) NOT NULL,
	[urlVideo] [nvarchar](300) NULL,
	[quantity] [int] NOT NULL,
	[createDate] [datetime] NULL,
	[kieuDang] [nvarchar](50) NOT NULL,
	[nangLuong] [nvarchar](50) NULL,
	[doChiuNuoc] [int] NULL,
	[chatLieuMat] [nvarchar](50) NULL,
	[duongKinhMat] [float] NULL,
	[chatLieuDay] [nvarchar](50) NULL,
	[sizeDay] [float] NULL,
	[chatLieuVo] [nvarchar](100) NULL,
	[duongKinhVo] [float] NULL,
	[timeBaoHanh] [float] NULL,
	[active] [bit] NOT NULL,
 CONSTRAINT [PK_ChiTietDongHo] PRIMARY KEY CLUSTERED 
(
	[chiTietDHid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 5/10/2020 11:10:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[commentID] [int] IDENTITY(1,1) NOT NULL,
	[userID_pk] [int] NOT NULL,
	[chiTietDHid_pk] [int] NOT NULL,
	[createDate] [datetime] NOT NULL,
	[content] [ntext] NOT NULL,
	[active] [bit] NOT NULL,
	[idCommentReplied] [int] NULL,
 CONSTRAINT [khoa_chinh_comment] PRIMARY KEY CLUSTERED 
(
	[commentID] ASC,
	[userID_pk] ASC,
	[chiTietDHid_pk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDongHo]    Script Date: 5/10/2020 11:10:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDongHo](
	[typeDHid] [int] IDENTITY(1,1) NOT NULL,
	[nameTypeDH] [nvarchar](50) NOT NULL,
	[xuatXu] [nvarchar](50) NOT NULL,
	[hangSanXuat] [nvarchar](50) NOT NULL,
	[active] [bit] NOT NULL,
	[thuongHieu] [ntext] NULL,
 CONSTRAINT [PK_LoaiDongHo] PRIMARY KEY CLUSTERED 
(
	[typeDHid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userLikeComment]    Script Date: 5/10/2020 11:10:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userLikeComment](
	[userID_pk] [int] NOT NULL,
	[commentID_pk] [int] NOT NULL,
 CONSTRAINT [pk_adminLikeComment] PRIMARY KEY CLUSTERED 
(
	[userID_pk] ASC,
	[commentID_pk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/10/2020 11:10:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[urlAvatarPicture] [nvarchar](300) NULL,
	[password] [nvarchar](50) NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[phone] [nvarchar](13) NOT NULL,
	[email] [nvarchar](80) NOT NULL,
	[account] [varchar](50) NULL,
	[ngaySinh] [datetime] NULL,
	[isAdmin] [bit] NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietDongHo] ON 

INSERT [dbo].[ChiTietDongHo] ([chiTietDHid], [typeDHid_pk], [code], [price], [sale], [urlPicture], [urlVideo], [quantity], [createDate], [kieuDang], [nangLuong], [doChiuNuoc], [chatLieuMat], [duongKinhMat], [chatLieuDay], [sizeDay], [chatLieuVo], [duongKinhVo], [timeBaoHanh], [active]) VALUES (3, 6, N'AAS-29038.45.27MB', 10980000, 0, N'ALTWatch2220204231420.jpg', N' ', 20, CAST(N'2020-04-22T11:20:55.147' AS DateTime), N'Đồng hồ nữ', N'Quatz ( Máy pin )', 3, N'Sapphire', 34, N'Thép không gỉ mạ vàng PVD', 20, N'Thép không gỉ mạ vàng PVD', 34, 10, 1)
INSERT [dbo].[ChiTietDongHo] ([chiTietDHid], [typeDHid_pk], [code], [price], [sale], [urlPicture], [urlVideo], [quantity], [createDate], [kieuDang], [nangLuong], [doChiuNuoc], [chatLieuMat], [duongKinhMat], [chatLieuDay], [sizeDay], [chatLieuVo], [duongKinhVo], [timeBaoHanh], [active]) VALUES (4, 6, N'AS-50354.45.21', 13980000, 0, N'ALTWatch1120204223044.jpg', N' ', 15, CAST(N'2020-04-22T11:30:44.200' AS DateTime), N'Đồng hồ nữ', N'Quartz (Điện tử)', 3, N'Sapphire', 28.5, N'Thép không gỉ mạ PVD', NULL, N'Thép không gỉ mạ vàng PVD', 28.5, 10, 1)
INSERT [dbo].[ChiTietDongHo] ([chiTietDHid], [typeDHid_pk], [code], [price], [sale], [urlPicture], [urlVideo], [quantity], [createDate], [kieuDang], [nangLuong], [doChiuNuoc], [chatLieuMat], [duongKinhMat], [chatLieuDay], [sizeDay], [chatLieuVo], [duongKinhVo], [timeBaoHanh], [active]) VALUES (7, 5, N'ES-7000.701.22.16.26', 14000000, 0, N'ALTWatch1720204224720.jpg', N' ', 15, CAST(N'2020-04-22T17:47:20.777' AS DateTime), N'Đồng hồ Nam', N'Quartz (Điện tử)', 5, N'Kính sapphire', 41.5, N'Dây da', 20, N'Thép không gỉ mạ vàng PVD', 41.5, 10, 1)
SET IDENTITY_INSERT [dbo].[ChiTietDongHo] OFF
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([commentID], [userID_pk], [chiTietDHid_pk], [createDate], [content], [active], [idCommentReplied]) VALUES (2, 11, 10, CAST(N'2020-05-07T23:20:07.943' AS DateTime), N'test bình luận', 1, NULL)
INSERT [dbo].[comments] ([commentID], [userID_pk], [chiTietDHid_pk], [createDate], [content], [active], [idCommentReplied]) VALUES (3, 11, 20, CAST(N'2020-05-07T23:20:20.860' AS DateTime), N'test bình luận 2', 1, NULL)
INSERT [dbo].[comments] ([commentID], [userID_pk], [chiTietDHid_pk], [createDate], [content], [active], [idCommentReplied]) VALUES (4, 11, 20, CAST(N'2020-05-07T23:20:26.727' AS DateTime), N'test bình luận 1', 1, NULL)
SET IDENTITY_INSERT [dbo].[comments] OFF
SET IDENTITY_INSERT [dbo].[LoaiDongHo] ON 

SET IDENTITY_INSERT [dbo].[LoaiDongHo] OFF
INSERT [dbo].[userLikeComment] ([userID_pk], [commentID_pk]) VALUES (8, -1)
INSERT [dbo].[userLikeComment] ([userID_pk], [commentID_pk]) VALUES (8, 5)
INSERT [dbo].[userLikeComment] ([userID_pk], [commentID_pk]) VALUES (9, -1)
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([userID], [userName], [gioiTinh], [urlAvatarPicture], [password], [address], [phone], [email], [account], [ngaySinh], [isAdmin]) VALUES (1, N'phạm thị quỳnh', 0, N'avatar1.jpg', N'9345b4b86fefffc596d7b8fd7f59a1ff', N'thanh hóa', N'01234567891', N'qwerqwr@àlkajf', N'admin1', CAST(N'1990-07-21T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[users] ([userID], [userName], [gioiTinh], [urlAvatarPicture], [password], [address], [phone], [email], [account], [ngaySinh], [isAdmin]) VALUES (2, N'Trần Thị Hằng', 1, N'avartar2.jpg', N'827ccb0eea8a706c4c34a16891f84e7b', N'thanh trì', N'01234567899', N'chi@gmai.com', N'ad2', CAST(N'2993-11-28T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[users] ([userID], [userName], [gioiTinh], [urlAvatarPicture], [password], [address], [phone], [email], [account], [ngaySinh], [isAdmin]) VALUES (3, N'Võ Trang Nhung', 1, N'avartar3.jpg', N'b3e2026d10e46df62f0d1cdfa85d7aaa', N'thanh', N'098667809', N'adkweeoi@gmail.com', N'ad3', CAST(N'1996-02-15T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[users] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [account_admin]    Script Date: 5/10/2020 11:10:20 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [account_admin] UNIQUE NONCLUSTERED 
(
	[account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDongHo]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDongHo_LoaiDongHo] FOREIGN KEY([typeDHid_pk])
REFERENCES [dbo].[LoaiDongHo] ([typeDHid])
GO
ALTER TABLE [dbo].[ChiTietDongHo] CHECK CONSTRAINT [FK_ChiTietDongHo_LoaiDongHo]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_admin] FOREIGN KEY([userID_pk])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_admin]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_ChiTietDongHo] FOREIGN KEY([chiTietDHid_pk])
REFERENCES [dbo].[ChiTietDongHo] ([chiTietDHid])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_ChiTietDongHo]
GO
ALTER TABLE [dbo].[userLikeComment]  WITH CHECK ADD  CONSTRAINT [FK_adminLikeComment_admin] FOREIGN KEY([userID_pk])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[userLikeComment] CHECK CONSTRAINT [FK_adminLikeComment_admin]
GO
USE [master]
GO
